.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
  padding: 10px;
  color: #002776;
  font-weight: bold;
  font-family: MuseoSansRounded-700,arial,sans-serif;
}
